{% extends 'base.html' %}

		{% block content %}
		{% load static%}
		<br>
		</br>
		<h1 style="font-size:30px">1.Chernobyl</h1>
			<img class="image2" src="{% static 'first_app/images/Chernobyl.jpg' %}">
		<br>
		</br>
		<p style="font-size:17px">Chernobyl dramatizes the story of the April 1986 nuclear plant disaster which occurred in the Ukrainian Soviet
		Socialist Republic, Soviet Union, telling the stories of the people who caused the disaster and those who responded to it. The series depicts
		some of the lesser-known stories of the disaster, including the efforts of the firefighters who were the first responders on the scene,
		volunteers, and teams of miners who dug a critical tunnel under Reactor 4. The miniseries is based in large part on the recollections
		of Pripyat locals, as told by Belarusian Nobel laureate Svetlana Alexievich in her book Voices from Chernobyl.
    with his alter-ego: the Joker. <a href="https://www.youtube.com/watch?v=s9APLXM9Ei8">Link to the trailer!</a></p>
    <p style="font-size:17px"><B>Director: </B> Craig Mazin</P>
    <p style="font-size:17px"><B>Cast: </B>Jessie Buckley asLyudmilla Ignatenko, Jared Harris as Valery Legasov, Stellan Skarsgård as Boris Shcherbina,
    Adam Nagaitis as  Vasily Ignatenko, Emily Watson	as Ulana Khomyuk, Paul Ritter as  Anatoly Dyatlov, Robert Emms	as Leonid Toptunov,
    Sam Troughto as  Alexandr Akimov, Karl Davies as  Viktor Proskuryakov, Michael Socha as  Mikhail, Laura Elphinstone	as  Oksanay</P>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<HR>
		<h1 style="font-size:30px">2.Our Planet </h1>
			<img class="image2" src="{% static 'first_app/images/Our Planet.jpg' %}">
		<br>
		<p style="font-size:17px">The series addresses issues of conservation while featuring these disparate animals in their respective home regions,
		and has been noted for its greater focus on humans' impact on the environment than traditional nature documentaries, centering around how climate
		change impacts all living creatures. It is the first nature documentary Netflix has ever made. All episodes were released on 5 April 2019.
		A behind-the-scenes documentary was released onto Netflix on 2 August 2019. Netflix reported that 25 million households were expected to watch the
		series during its first month of release. <a href="https://www.youtube.com/watch?v=aETNYyrqNYE">Link to the trailer!</a></p>
    <p style="font-size:17px"><B>Star:</B> David Attenborough</p>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<HR>
		<h1 style="font-size:30px">3.When They See Us </h1>
			<img class="image2" src="{% static 'first_app/images/seeus.jpg' %}">
		<br>
		<p style="font-size:17px">When They See Us received acclaim for its performances and casting. At the 71st Primetime Emmy Awards, it received 11
		 nominations; Jerome won for Outstanding Lead Actor in a Limited Series or Movie while it was nominated for Outstanding Limited Series and Ellis,
		 Nash, Blackk, Leguizamo, Williams, Blake, and Farmiga all received acting nominations. The series also won the Critics' Choice Television Award
		 for Best Limited Series. <a href="https://www.youtube.com/watch?v=hA6hldpSTF8">Link to the trailer!</a></p>
    <p style="font-size:17px"><B>Director:</B>  Ava DuVernay</p>
    <p style="font-size:17px"><B>Cast:</B> Asante Blackk	as Kevin Richardson, Caleel Harris as Antron McCray,  Ethan Herisse as  Yusef Salaam,
    Marquis Rodriguez as  Raymond Santana Jr, Marsha Stephanie Blake	as Linda McCray, Kylie Bunbury	Kylie Bunbury as Angie Richardson,
    John Leguizamo as Raymond Santana Sr, Niecy Nash as Deloris Wise, Suzzanne Douglas	as Grace Cuffee, Michael Kenneth Williams as  Bobby McCray,
    Jharrel Jerome	as  Korey Wise, Aunjanue Ellis	as Sharonne Salaam</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<HR>
		<h1 style="font-size:30px">4.The boys</h1>
      <img class="image1" src="{% static 'first_app/images/boys.jpg' %}">
		<br>
		<p style="font-size:17px">The Boys is set in a universe where superpowered individuals are recognized as heroes by the general public and owned
		by powerful corporation Vought International, which markets and monetizes them. Outside of their heroic personas, most are arrogant and corrupt.
		The series primarily focuses on two groups: the Seven, Vought International's premier superhero team, and the titular Boys, vigilantes looking
		to keep the corrupted heroes under control.. <a href="https://www.youtube.com/watch?v=06rueu_fh30 ">Link to the trailer!</a></p>
    <p style="font-size:17px"><B>Director:</B> Quentin Tarantino</p>
    <p style="font-size:17px"><B>Cast:</B> Karl Urban as Billy Butcher, Jack Quaid as Hughie Campbell, Antony Starr as Homelander, Erin Moriarty as Annie January,
    Dominique McElligott as  Queen Maeve, Jessie T. Usher	as  A-Train, Laz Alonso as Mother's Milk, Chace Crawford as The Deep, Tomer Capon	as Frenchie,
    Karen Fukuhara as  The Female, Nathan Mitchell as Black Noir, Elisabeth Shue	 as  Madelyn Stillwell</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <HR>
    <h1 style="font-size:30px">5.The Dark Crystal: Age of Resistance</h1>
      <img class="image2" src="{% static 'first_app/images/crystal.jpg' %}">
    <br>
    <p style="font-size:17px">As the Gelfling race on the planet Thra becomes aware of the fact that their customarily worshiped overlords,
		the Skeksis, are exploitative, taxing essence-suckers who are destroying their world, three Gelflings—Rian, Brea and Deet—inspire a
		rebellion after discovering a horrifying secret behind the Skeksis' power that threatens their entire planet.
    <a href="https://www.youtube.com/watch?v=a3_owZfYVR8">Link to the trailer!</a></p>
    <p style="font-size:17px"><B>Creators:</B> Jeffrey Addiss, Will Matthews</p>
    <p style="font-size:17px"><B>Cast:</B> Neil Sterenberg as Rian, Beccy Henderson as Deet , Nathalie Emmanuel	 as Deet, Taron Egerton	as  Rian,
    Kevin Clash as The General, Victor Yerrid as  Hup,Warrick Brownlow-Pike	as   The Chamberlain, Anya Taylor-Joy   as   Brea,
    Alice Dinnean	 as   Brea, Dave Chapman  as  The Emperor, Jason Isaacs	as  The Emperor </p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <HR>
    <h1 style="font-size:30px">6.Love, Death & Robots</h1>
      <img class="image2" src="{% static 'first_app/images/love.jpg' %}">
    <br>
    <p style="font-size:17px">The animated series consists of 18 stand-alone episodes, all under 20 minutes long, and all produced by different
		casts and crews, though some episodes may share certain crew members. The series title refers to each episode's thematic connection to the
		three aforementioned subjects, though not every episode contains all three elements.
    <a href="https://www.youtube.com/watch?v=wUFwunMKa4E">Link to the trailer!</a></p>
    <p style="font-size:17px"><B>Creator:</B> Tim Miller</p>
    <p style="font-size:17px"><B>Cast:</B> T Mary Elizabeth Winstead, Gary Cole, Chris Parnell, Omid Abtahi, John DiMaggio, Christine Adams,
		Josh Brener, Jill Talley, Hakeem Kae-Kazim, Nolan North, Elaine Tan, Aaron Himelstein, Samira Wiley, Stefan Kapičić, and Topher Grace,
		with Grace and Winstead appearing in live-action roles, rather than animated.</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <HR>
    <h1 style="font-size:30px">7.Unbelievable</h1>
      <img class="image2" src="{% static 'first_app/images/Unbelievable.jpg' %}">
    <br>
    <p style="font-size:17px">In Lynnwood, Washington in August 2008, Marie Adler, a former foster child now taking part in a social services
		program for troubled teens, is sitting traumatized in her apartment while her former foster mother Judith consoles her. Marie tells a
		uniformed police officer that she has been raped and he asks her multiple questions while he takes her report. Detectives Parker and
		Pruitt arrive to investigate and make her retell her story multiple times. She is then taken to the hospital where she submits to a
		physical examination and evidence collection, and is again compelled to retell her story. The police collect evidence from Marie’s
		apartment, but do not recover much. <a href="https://www.youtube.com/watch?v=QTIkUzkbzQk">Link to the trailer!</a></p>
    <p style="font-size:17px"><B>Creators:</B>  Susannah Grant, Michael Chabon, Ayelet Waldman</p>
    <p style="font-size:17px"><B>Cast:</B> Toni Collette as Det. Grace Rasmussen, a Westminster Police Department detective in Westminster, Colorado,
			Merritt Wever as Det. Karen Duvall, a Golden Police Department detective in Golden, Colorado, Kaitlyn Dever as Marie Adler, a victim of sexual assault.</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <HR>
    <h1 style="font-size:30px">8.After Life </h1>
      <img class="image2" src="{% static 'first_app/images/life.jpg' %}">
    <br>
    <p style="font-size:17px">After Life follows Tony, whose life is turned upside down after his wife dies from breast cancer.
		He contemplates suicide, but instead decides to live long enough to punish the world for his wife's death by saying and doing whatever
		he wants. Although he thinks of this as his "superpower", his plan is undermined when everyone around him tries to make him a better
		person.It is set in the fictional town of Tambury, where Tony works as a journalist at the local free newspaper, the Tambury Gazette.
		<a href="https://www.youtube.com/watch?v=eIGGKSHMQOM">Link to the trailer!</a></p>
    <p style="font-size:17px"><B>Creator:</B> Ricky Gervais</p>
    <p style="font-size:17px"><B>Cast:</B>Ricky Gervais as Tony Johnson, head of feature stories at the local newspaper, the Tambury Gazette. Following the death of his wife, he is depressed and suicidal
		Tom Basden as Matt, Tony's brother-in-law and boss of the Tambury Gazette Tony Way as Lenny, photographer at the Tambury Gazette,Diane Morgan as Kath, the newspaper's advertising employee, Mandeep Dhillon as Sandy, a newly hired journalist,
		Michelle Greenidge as Valerie, the Tambury Gazette receptionist, Ashley Jensen as Emma, a nurse working at Tony's dad's nursing home, David Bradley as Ray Johnson, Tony's dad, who has dementia and lives in a nursing home,
		Kerry Godliman as Lisa Johnson, Tony's late wife, Paul Kaye as Tony and Matt's psychiatrist, Joe Wilkinson as Postman Pat, Tommy Finnegan as George, Tony's nephew)</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <HR>
    <h1 style="font-size:30px">9.What We Do in the Shadows</h1>
      <img class="image2" src="{% static 'first_app/images/shadow.jpg' %}">
    <br>
    <p style="font-size:17px">Set in Staten Island, What We Do in the Shadows follows the lives of three traditional vampires; Nandor, Laszlo,
		and Nadja; Colin Robinson, an energy vampire; and Guillermo, Nandor's familiar. The series revolves around the vampires adapting to the
		modern world with the help of Guillermo and, occasionally, Colin Robinson. <a href="https://www.youtube.com/watch?v=IAZEWtyhpes">Link to the trailer!</a></p>
    <p style="font-size:17px"><B>Creator:</B> Jemaine Clement</p>
    <p style="font-size:17px"><B>Cast:</B> Kayvan Novak as Nandor the Relentless, a 757-year-old vampire who was once an Iranic soldier of
		the Ottoman Empire. Matt Berry as Laszlo Cravensworth, an English nobleman vampire who was turned by Nadja and is now married to her.
    Natasia Demetriou as Nadja, a Romani vampire, married to Laszlo. She often sees the human reincarnations of her former human lover, Gregor,
		who always dies by decapitation. Harvey Guillén as Guillermo De la Cruz, Nandor's Latino familiar. He has served his master for 11 years
		in order to become a vampire like the fictional vampire Armand, played by Antonio Banderas. Mark Proksch as Colin Robinson, an energy vampire
		who lives with the trio. He drains humans (and vampires) of their energy.</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <HR>
    <h1 style="font-size:30px">10.Years and Years</h1>
      <img class="image2" src="{% static 'first_app/images/years.jpg' %}">
    <br>
    <p style="font-size:17px">Dressed in a flamboyant devil's outfit, Elton John enters an addiction rehabilitation session,
    recounting his life in a flashback. Young Reginald Dwight grows up in 1950s Britain, raised by his unaffectionate mother,
    Sheila, and more loving grandmother Ivy. Reginald is interested in music and hopes to perform for his father, Stanley,
    who takes no interest in his son nor his talent. <a href="https://www.youtube.com/watch?v=SY41jhIP_xI">Link to the trailer!</a></p>
    <p style="font-size:17px"><B>Creator:</B> Russell T. Davies</p>
    <p style="font-size:17px"><B>Cast:</B>Russell Tovey as Daniel Lyons, a housing officer based in Manchester and Rosie, Stephen and Edith's brother.
    Rory Kinnear as Stephen Lyons, a financial advisor, who lives in London with his wife, Celeste, and their two daughters. He is also Edith,
		Daniel and Rosie's older brother. T'Nia Miller as Celeste Bisme-Lyons, an accountant and Stephen's wife. Ruth Madeley as Rosie Lyons,
		the youngest of the Lyons siblings, who has spina bifida. She is a single mother, has two sons, Lee and Lincoln, and works in a school cafeteria.
    Anne Reid as Muriel Deacon, the Lyons siblings' grandmother. Jessica Hynes as Edith Lyons, a political activist and Stephen, Daniel and Rosie's sister.
    Emma Thompson as Vivienne Rook MP, a charismatic and controversial businesswoman turned politician.</p>
    <br><br><br><br><br><br>
{% endblock %}	
