{% extends 'base.html' %}

		{%block content%}
		{% load static %}
		<br>
		</br>
		<h1 style="font-size:30px">1.Resident Evil 2</h1>
			<img class="image2" src="{% static 'first_app/images/evil.jpg' %}">
		<br>
		</br>
		<p style="font-size:17px">This is the best kind of remake. Rather than lightly remaster 1998's version with new textures and effects,
		Capcom has re-made the game entirely for today's hardware. The result is a terrifying delight that looks incredible and plays better
		than ever thanks to a switch to the over-the-shoulder viewpoint first seen in Resident Evil 4. For anyone who loved the original but
		didn't enjoy its awkward fixed camera angles, it's a great chance to revisit a genuine classic.
		<a href="https://www.youtube.com/watch?v=u3wS-Q2KBpk">Link to the trailer!</a></p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<HR>
		<h1 style="font-size:30px">2.Sekiro: Shadows Die Twice</h1>
			<img class="image2" src="{% static 'first_app/images/sekiro.jpg' %}">
		<br>
		<p style="font-size:17px">In a re-imagined late 16th century Sengoku period Japan, warlord Isshin Ashina staged a coup and seized
		control of the land of Ashina.[1] During this time, a nameless orphan is adopted by the wandering shinobi named Ukonzaemon Usui,
		known to many as "Owl," who named the boy "Wolf" and trained him in the ways of the shinobi. Two decades later, the Ashina are
		on the brink of collapse due to the now elderly Isshin falling ill and the clan's enemies steadily closing in. Desperate to save
		his clan, Isshin's adoptive grandson Genichiro sought the Divine Heir Kuro so he could use the boy's "Dragon Heritage" to create
		an immortal army. Wolf, now a full fledged shinobi and Kuro's personal bodyguard, loses his left arm while failing to stop Genichiro.
		<a href="https://www.youtube.com/watch?v=dBX9mBobmEw">Link to the trailer!</a></p>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<HR>
		<h1 style="font-size:30px">3.Devil May Cry 5</h1>
			<img class="image2" src="{% static 'first_app/images/devil.jpg' %}">
		<br>
		<p style="font-size:17px">On 16 May, devil hunter Nero hunts a demon named Urizen who took his demonic arm and the sword Yamato.
		Traveling to Red Grave City, he finds a demonic tree called Qliphoth planted in the city, which is killing people for their blood.
		Dante's group confronts Urizen but, empowered by the Qliphoth, he incapacitates them and overpowers Nero when he intervenes.
		Dante stops Urizen from capturing Nero, but is defeated and ejected from the Qliphoth with his sword Rebellion shattered.
		His allies Lady and Trish are captured to use as demon-cores while a client of Dante, V, convinces the weakened Nero to escape.
		On 15 June, Nero returns to Red Grave outfitted with the "Devil Breaker" prosthetic arm, made by his friend and gunsmith,
		Nico. Nero meets up with V, who is seeking Qliphoth for its fruit—born of condensed human blood—which makes whoever
		consumes it the king of the Underworld. As the pair destroy the Qliphoth's roots while searching for Dante, Nero rescues Lady
		while V splits off to discover the Devil Sword Sparda - along with a hibernating Dante, whose presence was hidden by the sword.
						<a href="https://www.youtube.com/watch?v=KMSGj9Y2T9Q">Link to the trailer!</a></p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<HR>
		<h1 style="font-size:30px">4.Outer Wilds</h1>
      <img class="image2" src="{% static 'first_app/images/wilds.jpg' %}">
		<br>
		<p style="font-size:17px">The Player takes the role of an alien space explorer, preparing for their first solo flight by
		(following the tradition of the outer wilds ventures) camping out under the stars. After being involuntarily paired with a Nomai statue
		on their home planet, the Player discovers they are trapped in a 22-minute time loop, with every loop resetting on the Player's death
		or the local sun exploding in a supernova. This loop has been compared to the time loop in Groundhog Day. In order to solve this mystery,
		the Player begins exploring the solar system, uncovering artifacts and ruins left behind by the Nomai, an ancient and mysterious race
		that had once colonized the system. <a href="https://www.youtube.com/watch?v=d6LGnVCL1_A">Link to the trailer!</a></p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <HR>
    <h1 style="font-size:30px">5.Mortal Kombat 11</h1>
      <img class="image2" src="{% static 'first_app/images/11.jpg' %}">
    <br>
    <p style="font-size:17px">Following Shinnok's defeat, Dark Raiden plans to protect Earthrealm by destroying all of its enemies
		and making an example of Shinnok; decapitating him. This latter act inspires Kronika, Shinnok's mother and the keeper of time,
		to rewrite history in order to erase Raiden's interference. Two years later, a Special Forces strike team led by Sonya Blade,
		Cassie Cage, and Jacqui Briggs attack the Netherrealm, with Raiden providing a diversion to aid them. The team succeeds in destroying
		the Netherrealm castle, though at the cost of Sonya's life. Kronika creates an alliance with revenants Liu Kang and Kitana,
		now rulers of the Netherrealm, immediately afterwards. <a href="https://www.youtube.com/watch?v=bxFoRCvEjUA">Link to the trailer!</a></p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <HR>
    <h1 style="font-size:30px">6.Tetris 99</h1>
      <img class="image2" src="{% static 'first_app/images/99.jpg' %}">
    <br>
    <p style="font-size:17px">Tetris 99 is a multiplayer puzzle game in which 99 players play against each other at the same time, with
		the aim to be the last player remaining. As with the traditional Tetris formula, players rotate and drop shaped bricks known as
		tetrominoes onto a board. Players can clear tetrominoes by completing rows across both sides, whereas players will lose if tetrominoes
		overflow off the top of the board. As with normal Tetris rules, players have the option to store a tetromino piece to swap out at any
		time. By clearing multiple lines or performing continuous line clears in a row, players can send "garbage" to other players, which
		will appear on their board unless they can quickly clear lines in response. More garbage can be sent by completing combination moves
		in succession of making a "tetris" (matching 4 lines at once) or performing a "T-spin" (squeezing the T-shaped tetromino into a position
		it would otherwise not fall into by rapidly rotating it). <a href="https://www.youtube.com/watch?v=E9jGyUUvXI0">Link to the trailer!</a></p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <HR>
    <h1 style="font-size:30px">7.Hypnospace Outlaw</h1>
      <img class="image2" src="{% static 'first_app/images/out.jpg' %}">
    <br>
    <p style="font-size:17px">Hypnospace Outlaw is a simulation video game developed by Tendershoot and published by No More Robots for
		Microsoft Windows, macOS, and Linux. Set in an alternate-history 1999, the game takes place inside a parody of the early Internet
	  called Hypnospace. The player assumes the role of an "Enforcer" for the company Merchantsoft—creator of Hypnospace—and seeks to police
		illegal content, copyright violations, viruses, and cyberbullying by users on the service. In the process, the player engages in
		detective work and puzzle-solving. The game released on March 12, 2019.
		<a href="https://www.youtube.com/watch?v=Pb4Jul496QE">Link to the trailer!</a></p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <HR>
    <h1 style="font-size:30px">8.Metro Exodus</h1>
      <img class="image2" src="{% static 'first_app/images/metro.jpg' %}">
    <br>
    <p style="font-size:17px">After the attack on D6, Artyom becomes disillusioned with the constant infighting and corruption within
		the Metro and leaves the Spartan Order. He soon becomes obsessed with proving that other human survivors exist outside of Moscow
		and makes numerous dangerous expeditions to the surface, much to Anna's concern and Miller's frustration. However, on one such
		expedition with Anna, they witness a working train running on the surface. Before they can follow it, they are captured by Hansa
		soldiers along with a couple of people who claim to be from outside of Moscow. The Hansa soldiers execute the other prisoners and
		Artyom is shot and left for dead. Surviving the gunshot, Artyom follows the soldiers to their base to rescue Anna, and in the process
		inadvertently destroys a signal jammer that was blocking all communications going in and out of Moscow. Radio transmissions from all
		over the world begin to be picked up, and Artyom and Anna realise humanity has not gone extinct. They escape by stealing one of Hansa's
		trains, the "Aurora", with the aid of a defected Hansa train engineer called Yermak.
		<a href="https://www.youtube.com/watch?v=fbbqlvuovQ0">Link to the trailer!</a></p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <HR>
    <h1 style="font-size:30px">9.Void Bastards</h1>
      <img class="image2" src="{% static 'first_app/images/void.jpg' %}">
    <br>
    <p style="font-size:17px">The game revolves around a procedurally generated structure, in which the player enters other ships, fights
		enemies and salvages materials to repair their own ship. If the player dies, they are replaced by another "rehydrated" prisoner.
		When a prisoner dies, the player loses all ammunition, fuel and food, but keeps weapon and gadget upgrades as well as objective progress.
		<a href="https://www.youtube.com/watch?v=iXZ5PD-y8iE">Link to the trailer!</a></p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <HR>
    <h1 style="font-size:30px">10.Wargroove</h1>
      <img class="image2" src="{% static 'first_app/images/Wargroove.jpg' %}">
    <br>
    <p style="font-size:17px">Following the assassination of King Mercival II of Cherrystone by the High Vampire Sigrid of Felheim,
		Mercival's young daughter Mercia is crowned queen and soon faces an invasion by the undead Felheim Legion. Despite early successes
		against hotheaded Felheim commander Ragna, the Legion's numbers overwhelm Cherrystone's defenses, and Valder, the Lord of
		Felheim and wielder of the Fell Gauntlet, drives Queen Mercia and her army into retreat. Mercia's mentor, the royal mage Emeric,
		advises her to seek aid from Empress Tenri of the Heavensong Empire.
		<a href="https://www.youtube.com/watch?v=CacV3hrVA9E">Link to the trailer!</a></p>
    <br><br><br><br><br><br>
{% endblock %}
